
This is just for guidness  not your env...

NODE_ENV=development

PORT=6769

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DBNAME

REDIS_URL=redis://localhost:6384

JWT_SECRET=set-me-to-a-long-random-string-min-32-chars